.systemLongBtn {
    width: 55rem;
}
p {
    margin-top: 2rem;
}
h5 {
    margin-bottom: 1rem;
}
.ventilationSystems {
    ul {
        li {
            justify-content: unset !important;
        }
    }
}