.cartErrorTexts {
  width: 95%;
  border-radius: 1rem;
  margin: 0 auto;
  height: 12rem;
  padding: 2rem;
  background-color: #f6f6f6;
  h2 {
    font-size: 2rem;
  }
  a {
    text-decoration: underline !important;
    color: #5896e2;
    font-size: 1.5rem;
  }
}

.cartItem {
  overflow-x: hidden;
  margin-left: 5rem;
  align-items: flex-start;
  .cartTools {
    .cartMain {
      max-width: 100%;
      margin: 0 auto;
      height: 20rem;
      padding: 1rem;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      .condisionerImg {
        width: 20rem;
      }
      .cartMainFlex {
        justify-content: space-between;
        margin-left: 2rem;
        gap: 18rem;
        align-items: center;
        .cartMainLeft {
          h2 {
            font-size: 1.5rem;
            color: #2f2f2f;
          }
          button {
            padding: 1rem 3rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            border: 1px solid #989898 !important;
            background-color: #fff;
            color: #989898;
            margin-top: 2rem;
            &:hover {
              border: 1px solid #5896e2 !important;
              color: #5896e2;
            }
          }
        }
        .cartMainRight {
          h3 {
            font-size: 2rem;
          }
          .cartBtnFlex {
            margin-top: 1rem;
            button {
              padding: 1rem 1.5rem;
              border: 1px solid #989898 !important;
              background-color: #fff;
              color: #989898;
              &:first-child {
                border-right: none !important;
              }
              &:last-child {
                border-left: none !important;
              }
              &:hover {
                color: #5896e2;
              }
            }
          }
        }
      }
    }
    .cartInfoTexts {
      .cartInfoTextsH1 {
        font-size: 3rem;
      }
      form {
        margin-top: 3rem;
        .flex-class {
          gap: 5rem;
        }
        .cartAddresInput {
          margin-top: 2rem;
          margin-bottom: 2rem;
          input {
            width: 100%;
          }
        }
        label {
          color: #000;
          font-size: 1.3rem;
        }
        .cartInputsGrid {
          grid-template-columns: auto;
        }
        input {
          border-radius: 0.5rem;
          width: 43rem;
          height: 6rem;
          padding: 2rem;
          border: none;
          background-color: #f6f6f6;
          &::placeholder {
            color: #989898;
          }
        }
      }
    }
    .cartPayments {
      margin-top: 10rem;
      h1 {
        font-size: 2rem;
      }
      .flex-class {
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        &:nth-child(2) {
          .checkBoxLabel {
            margin-top: 1rem;
          }
        }
        .checkBoxLabel {
          cursor: pointer;
          align-items: center;
          font-size: 1.5rem;
          img {
            margin-bottom: -1.5rem;
          }
        }
        .checkBoxPay {
          cursor: pointer;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          background-color: #ebebeb;
          border: 1px solid #989898;
        }
      }
      textarea {
        width: 90rem;
        height: 15rem;
        background-color: #f6f6f6;
        color: #989898;
        outline: none;
        padding: 1rem;
        margin-top: 5rem;
      }
    }
  }
  .cartAsideRight {
    margin-right: 3rem !important;
    .cartAsideRightBox {
      width: 45rem;
      height: 42rem;
      background-color: #f6f6f6;
      padding: 2rem;
      h2 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      .cartInputBtnFlex {
        justify-content: unset !important;
        // gap: 10rem;
        button {
          padding: 1.9rem;
          border: 1px solid #dddddd;
          border-left: none;
          background-color: #fff;
        }
      }
    }
    .flex-class {
      margin-top: 3rem;
      justify-content: space-between;
      align-items: center;
      input {
        padding: 1rem;
        width: 40rem;
        border: 1px solid #ddd;
        background-color: #fff;
        height: 6rem;
      }
      h3 {
        color: #373737;
        font-size: 1.6rem;
      }
    }
    h1 {
        margin-top: 2rem;
    }
    .confirmCart {
        width: 100%;
        height: 6rem;
        color: #fff;
        background-color: #5896e2;
        border: 1px solid #5896e2;
        margin-top: 2rem;
    }
  }
  p {
    margin-left: 1rem;
    width: 43rem !important;
    font-size: 1.5rem;
    span {
      text-decoration: underline;
      color: #5896e2;
      cursor: pointer;
    }
  }
}

.cartMiddleLine {
  margin-top: 5rem !important;
  width: 100%;
  background-color: #dddddd;
  height: 0.1rem;
  margin: 0 auto;
}

.doshedBorder {
    width: 20rem;
    height: 0.1rem;
    border: 1px dashed #000;
}
.doshedBorder1 {
    width: 25rem;
}