h4 {
    color: #989898;
    font-size: 1.4rem;
}
p {
    width: 42rem !important;
}
.socialMediaFlex {
    margin-top: 2rem !important;
}
.contactFlower {
    position: absolute;
    margin-top: 5rem;
    margin-left: -10rem;
    transform: rotate(180deg);
}

