.montajCondisionerSec {
  button {
    width: 100%;
  }
}
.coordinationKGATexts3 {
  margin-left: 8rem;
  margin-top: 4rem;
  ul {
    li {
      margin-top: 1.5rem !important;
    }
  }
}

.squareSec {
  margin: 0 auto;
  padding: 2rem;
  height: 55rem;
  margin-top: 10rem;
  width: 95%;
  box-shadow: 0px 5px 11px 0px rgba(42, 42, 42, 0.1);
}
.robot2-section {
  margin-top: 15rem;
  margin-bottom: -10rem;
}
.robot-slider2 {
  height: 50rem;
}
.robotCard2 {
    width: 33% !important;
}
