.newsSinglePageFlex {
  margin-top: -15rem;
    justify-content: space-between;
  img {
    width: 50rem;
  }
  h5 {
    font-size: 1.3rem;
    color: #989898;
  }
  h6 {
    &:nth-child(2) {
      font-size: 3rem;
      width: 60rem;
    }
    &:nth-child(3) {
      line-height: 2.7rem;
      margin-top: 3rem;
      font-size: 1.6rem;
      width: 60rem;
      color: #989898;
    }
  }
  .montajImages {
    .serviceBackImg {
      width: 32rem;
      margin-top: -4rem;
      margin-left: 23rem;
    }
    img {
      &:first-child {
        position: absolute;
        z-index: -1;
      }
    }
  }
}
