h1 {
  font-size: 3.2rem !important;
  width: 80rem;
}
.coordinationKGABottomFlexClass {
  height: 30rem !important;
  width: 100rem;
  gap: 10rem;
  .coordinationKGABottomLeft {
    width: 50rem;
    p {
        width: 50rem !important;
    }
  }
  .coordinationKGABottomRight {
    img {
        margin-right: 1rem;
    }
}
}
