.domesticVentilation {
  overflow-x: hidden;
  h5 {
    color: #989898;
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3rem;
  }
  .condisionerCards {
    width: 85%;
    margin-top: -15rem;
    display: grid !important;
    grid-template-columns: auto auto auto;
    overflow: visible !important;
    gap: 5rem !important;
    .condisionerCard {
      width: 43rem;
    }
  }
}
.domesticVentilationBtn {
  padding: 2.5rem 7rem !important;
}
